Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
Flask-Login
Flask-Cors
werkzeug>=2.3.0
PyMySQL
python-dotenv
Pillow
supabase
requests
sendgrid
flask-mail
Crypto
PyCryptodome==3.20.0    # <-- Changed from 'crypto' to 'pycryptodome'
gunicorn
python-dateutil